/* 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

body {
    margin: 0;
    font-family:'Times New Roman';
    background-color: #FFFAE5;
    color: #333;
}

header {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

SPAN{
    COLOR:rgb(255, 173, 21);
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    color:yellowgreen;
    font-family:'Times New Roman';
    font-style: bold;
}

.logo-image{
    width: 30px;
    height:30px;
    padding: 5px;
    margin:5px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 70px;
    font-style: bold;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav .auth-buttons button {
    margin-left: 10px;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav .auth-buttons .sign-in {
    background-color: #004D40;
    padding:8px 18px;
    color: white;
    margin: 2rem;
}

nav .auth-buttons .register {
    background-color: #B2DFDB;
    padding:8px 14px;
    color: black;
    margin: 2rem;
}

.container{
    display: flex;
}
.image-stack{
    position:relative;
    width:400px;
    height:300px;
    animation-name:slideInFromLeft; /* Replace with your animation name */
    animation-duration:1.5s; /* Duration of the animation */
    animation-timing-function: ease; /* Timing function */
    animation-fill-mode: both; /* Ensures the element stays in the end state after animation */
}

@keyframes slideInFromLeft {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.image-stack img{
    position: absolute;
    top:10rem;
    right:10rem;
    width:100%;
    height:100%;
    object-fit: cover;
}
SPAN{
    COLOR:orange;
}


/* media query */

@media (max-width: 1163px) {
    nav ul {
        gap: 20px; /* Reduce the gap between nav links */
        font-size: 14px; /* Decrease the font size of nav links */
    }

    nav ul li a {
        font-size: 14px; /* Ensure the font size of individual nav links is reduced */
    }

    nav .auth-buttons {
        display: flex;
        align-items: center;
    }

    nav .auth-buttons button {
        margin-left: 5px;
        padding: 6px 12px; /* Decrease padding for smaller buttons */
        font-size: 14px; /* Decrease font size */
    }

    nav .auth-buttons .sign-in {
        padding: 6px 12px;
    }

    nav .auth-buttons .register {
        padding: 6px 12px;
    }
}
h1{
    font-size: 80px;;
   text-align: center;
   padding-top:10rem;
   padding-right:18rem;
}

